body{
    /* background-color: #000022; */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #000022;
    justify-content: space-between;

}

#cosmic-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    animation: cosmicBackground 10s forwards;
    z-index: 100;
}

@keyframes cosmicBackground {
    0% { background: #000; }
    30% { background: #000022; }
    100% { background: #000022; }
}
.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkle 3s infinite alternate;
}

@keyframes twinkle {
    0% { opacity: 0.3; }
    100% { opacity: 1; }
}

#logo-container {
    position: relative;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s 3s forwards;
}
@keyframes fadeIn {
    to { opacity: 1; }
}

#freepay-text {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#free {
    color: white;
}
#pay {
    background: linear-gradient(90deg, #0288d1, #9c27b0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#custom-div {
    position: absolute;
    opacity: 0;
    animation: fadeIn 2s 8s forwards;
    bottom: 20px;
    right: 20px;
}





.robotZ{
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    background-color: #000022;
    width: 100%;
    height: 100%;
    transition: 1ms;
}


.robotZ p{
    color: #EE00ff;
    font-size: 1.6rem;
    text-shadow: 0rem 0rem 0.5rem  rgb(255, 0, 174) ;

}
#notrobot{
    width: 1.5rem;
    height: 1.5rem;
}
.robotZnone{
    display: none;
    transition: 1ms;
}
.header{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4.7rem;
    background-color: rgb(17, 17, 17);
}
.logodiv{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 30%;
    height: 100%;
}
.logo{
    height: 100%;
    filter: drop-shadow(0rem 0rem 0.5rem #EE00ff);
}
.valuediv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}
.BlackValueDiv{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
}
.valuebox{
    width: 80%;
    height: 100%;
    color: white;
}
.psRightDiv{
    width: 80%;
    height: 50%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 1.5rem;
    align-items: center;
    gap: 0.5rem;
}
.suportdiv{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.SuportBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border-style: double;
    border-width: 0.1rem;
    width: 60%;
    color: white;
    height: 50%;
    border-color: #9b00a6;
    background-color: #EE00ff;
    box-shadow: 0rem 0rem 1rem  #EE00ff ;
}
.bii{
    background-color: rgb(144, 109, 20);
    border-radius: 1rem;
    box-shadow:0rem 0rem 1rem  gold ;
    color: gold;
}
#pointvalue{
    font-size: 1.5rem;
    text-shadow: 0rem 0rem 0.8rem  white ;
}
/* Header Complete */


/* main */
.Profsec{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 1rem;
    width: 100%;
    height: 50rem;
    background-color: #000022;
}
.Profsecnone{
    display: none;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 1rem;
    width: 100%;
    height: 50rem;
    background-color: #000022;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: start;
    gap: 5rem;
}

.main1{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 20%;
}
.welcomeH2{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    color: white;
    text-shadow: 0rem 0rem 1rem rgb(245, 150, 166);
    width: 100%;
    font-size: 2rem;
    /* background-color: black; */
}
.emaildiv{
    width: 70%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: #000057;
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 1rem #00003e ;
    /* background-color: rgb(17, 17, 17); */
    color: white;
}
.emailp{
    text-shadow: 0rem 0rem 0.5rem rgb(245, 150, 166);
}

.main2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: -4rem;
    margin-left: 1rem;
    color: white;
    width: 100%;
    height: 20%;
    /* background-color: red; */
    text-shadow: 0rem 0rem 1rem rgb(245, 150, 166) ;
    font-size: 1.2rem;
    font-weight: 700;
    
}
#Rankpp{
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}
.SilverRank{
    color: silver;
    text-shadow: 0rem 0rem 1rem silver ;
    display: flex;
    flex-direction: row;
}
.GoldenRank{
    color: rgb(255, 247, 0);
    text-shadow: 0rem 0rem 1rem rgb(255, 251, 131) ;
    display: flex;
    flex-direction: row;
}
.DiamondRank{
    color: rgb(0, 183, 255);
    text-shadow: 0rem 0rem 1rem rgb(0, 234, 255) ;
    display: flex;
    flex-direction: row;
}
.Levelp{
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}



#Levelp{
    display: flex;
    flex-direction: row;
    text-shadow: 0rem 0rem 1rem rgb(0, 234, 255) ;

}
#Pointsp{
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}

.main3{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    /* background-color: red; */
}
.logoutbtn{
    background-color: pink;
    width: 25%;
    height: 2rem;
    border-radius: 0.3rem;
    color: white;
    border-color: #9b00a6;
    background-color: #EE00ff;
    box-shadow: 0rem 0rem 1rem  #EE00ff ;
}


/* main complete */

.footer{
    position: fixed;
    z-index: 1001;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self:end;
}
.btns{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 17, 17);
    border-radius: 1rem 1rem 0rem 0rem ;    
}
.btns input{
    background-color: rgb(17, 17, 17);
    border-radius: 1rem 1rem 0rem 0rem ;
    width: 30%;
    height: 100%;
    color: white;
    font-size: 1rem;
    border: none;
}
.textshadowbtn{
    display: flex;
    flex-direction: row;
    margin-top: -0.3rem;
    font-weight: 600;
    text-shadow:  0rem 0rem 0.2rem white ;
    box-shadow: 0rem -0.2rem 1rem  #fddaff73 ;
}

